@model List<MVC_prenotazioni.Models.booking>
@{
    ViewBag.Title = "Delete Bookings";
}
<h2>@ViewBag.Title</h2>

<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <table class="table" title="Bookings">
                <tr>
                    <th>Room</th>
                    @foreach (var x in @Model)
                    {
                        <td>@x.Room.name</td>
                        @Html.Hidden(@x.id.ToString())
                    }
                </tr>
                <tr>
                    <th>Date</th>
                    @foreach (var x in @Model)
                    {
                        <td>@x.date</td>
                    }
                </tr>
                <tr>
                    <th>Time</th>
                    @foreach (var x in @Model)
                    {
                        <td>@x.begin_time.ToString() - @x.end_time</td>
                    }
                </tr>
                <tr>
                    <th>Equipment</th>
                    @foreach (var x in @Model)
                    {
                        <td>@x.equipment</td>
                    }
                </tr>
                <tr>
                    <th>Price</th>
                    @foreach (var x in @Model)
                    {
                        <td>@x.price</td>
                    }
                </tr>
                <tr>
                    <th>Delete</th>
                    @foreach (var x in @Model)
                    {
                        <td><a href="/Home/Delete/@x.id"><button name="go">Go</button></a></td>
                    }
                </tr>

            </table>


        </div>
    </div>
</div>
