@model List<MVC_prenotazioni.Models.booking>
@{
    ViewBag.Title = "Delete Bookings";
}
<h2>@ViewBag.Title</h2>
@if (ViewBag.Msg != null)
{
    <h3>@ViewBag.Msg</h3>
}
<div class="container">
    <div class="row align-content-center">
        <div class="col-lg-12">
            <table class="table" title="Bookings">
                @{
                    int limit = 4;
                    int rest = Model.Count % limit;
                    int rows = Model.Count / limit;
                    for (int y = 0; y <= rows; y++)
                    {
                        int to = y == (rows) && rest == 0 ? 0 : y == (rows) ? (limit * y) + rest : 4 + (limit * y);
                        if (to == 0) { return; };

                        <tr>
                            <th>Room</th>
                            @for (int z = y * 4; z < to; z++)

                            {
                                <td>@Model[z].Room.id) @Model[z].Room.name</td>
                                @Html.Hidden(@Model[z].id.ToString())
                            }
                        </tr>
                        <tr>
                            <th>Date</th>
                            @for (int z = y * 4; z < to; z++)


                            {

                                <td>@Model[z].date.ToString("dd-MM-yyyy")</td>
                            }
                        </tr>
                        <tr>
                            <th>Time</th>
                            @for (int z = y * 4; z < to; z++)

                            {

                                <td>@Model[z].begin_time.ToString() - @Model[z].end_time</td>
                            }
                        </tr>
                        <tr>
                            <th>Equipment</th>
                            @for (int z = y * 4; z < to; z++)

                            {

                                <td>@Model[z].equipment</td>
                            }
                        </tr>
                        <tr>
                            <th>Price to Be Paid</th>
                            @for (int z = y * 4; z < to; z++)

                            {

                                <td>@String.Format("{0:C}", Model[z].price)</td>
                            }
                        </tr>
                        <tr>
                            <th>Delete</th>
                            @for (int z = y * 4; z < to; z++)

                            {
                                <td><a href="/Home/Delete/@Model[z].id "><button name="go">Go</button></a></td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>
