@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Book a gym room</h1>
    <p class="lead">Hi, please register a room for your training, thanks.</p>
</div>
<div class="container">
    @if (ViewBag.Message != null)
    {
        <div class="row align-content-center">
            <div strong class="col align-content-center text-center text-success text-uppercase"><p>@ViewBag.Message</p></div>

        </div>
    }
    <div class="row justify-content-center">
        <div class="col-lg-6 align-content-center">
            @using (Html.BeginForm("PostIndex", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                
                <p class="form-group">
                    <select name="room">
                        @if (ViewBag.Rooms != null)
                        {
                            foreach (var x in ViewBag.Rooms)
                            {
                                <option value="@x.id">Room @x.id @x.name - Description: @x.description</option>
                            }

                        }
                    </select>
                </p>
                <p class="form-group">
                    <label for="day">Giorno</label>
                    <input type="date" name="day" required/>
                </p>
                <p class="form-group">
                    <label for="starttime">Start time</label>
                    <input type="time" id="startime" name="start" min="09:00" max="17:30" step="1800" required/>
                </p>
                <p class="form-group">
                    <label for="starttime">End Time</label>
                    <input type="time" name="endtime" min="09:30" max="18:00" step="1800" required/>
                </p>
                <p class="form-group">
                    <label for="equipment">Hai l'equipaggiamento?</label>
                    <input type="checkbox" name="equipment"/>
                </p>
                <p><input type="submit" /></p>

            }   
        </div>
    </div>
</div>